@import "../../../../common/c1-styles/sass/mixins";

.container{
  @include contentBox(column, center, 25px);
  .formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}