@import "../../../common/c1-styles/sass/variables";
@import "../../../common/c1-styles/sass/mixins";

.container{
  border: 1px solid $primaryColor;
  border-radius: 10px;
  margin-bottom: 20px;
  .item{
    cursor: pointer;
  }
}
