@import "../../../../common/c1-styles/sass/mixins";

.container{
  @include contentBox();
  .formContainer{
    display: flex;
    flex-direction: column;
    .error{
      font-size: .8rem;
      color: #e30101;
      margin: 4px 0 10px 0;
    }
  }
}