@import 'common/c1-styles/sass/mixins';

.container{
  border: 2px solid blue;
  .contentContainer{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}