@import "./common/c1-styles/sass/variables";

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body{
  background-color: $mainBackground;
  font-family: $mainFontFamily;
  line-height: 1.8;
  a{
    text-decoration: none;
  }
  p{
    letter-spacing: .4px;
  }
}
